.header {
    background-color: var(--darker);
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 -40px 50px var(--leaf);
}

nav {
    @media (min-width: 768px) {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 6px;
    padding-bottom: 1.5rem;
    gap: 2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    max-width: 1140px;
    width: 100vw;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

nav>a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    font-size: 26px;
    cursor: pointer;
    font-family: 'Ubuntu';
}

nav a, nav a :hover, nav a:visited, nav a:focus, nav a:active{
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

nav ul {
    position: fixed;
    visibility: hidden;
    list-style: none;
}

/* li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
} */

.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
    gap: 2rem;
    color: var(--leaf);
    visibility: visible;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    font-family: 'UbuntuBold';
}

.header-nav a {
    font-size: 1em;
    vertical-align: baseline;
    line-height: 35px;
    padding: 8.5px 10px;
}

