.header {
    height: 60px;
    position: sticky;
    top: 0;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: #fff;
    box-shadow: 0 -40px 50px var(--leaf);
    font-weight: 700;
}

nav {
    @media (min-width: 768px) {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

nav>a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    font-size: 22px;
    cursor: pointer;
}

nav a, nav a :hover, nav a:visited, nav a:focus, nav a:active{
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: pointer;
}

nav ul {
    position: fixed;
    visibility: hidden;
    list-style: none;
}


.header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
    gap: 2rem;
    color: var(--black);
    visibility: visible;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;

}

.header-nav li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 1em
}

.header-nav li a {
    line-height: 35px;       
}

.header-nav .menu-item a {
    color: #323232;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px 
}

.header-nav .menu-item:before {
    content: "";
    width: 0;
    height: 2px;
    background: #323232;
    bottom: 5px;
    transition: all .5s cubic-bezier(0,.5,.17,1);
    position: absolute
}

.header-nav .menu-item:hover:before {
    width: 100%
}


.lets-chat span{
    transition: all .3s ease;  
}

.lets-chat:hover span:hover {
    border-radius: 8px;
    box-shadow: 0 0 10px #aaa;
}

.circle {
    position: fixed;
    top: 54px;
    width: 12px;
    height: 12px;
    background-color: rgb(4 120 87);
    border-radius: 50%;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    float: left;
    overflow: hidden;
    z-index: 50;
}

.move-horizontal {
  animation-name: move-horizontal;
}

.move-horizontal:hover {
  animation-play-state: paused;
}

@keyframes move-horizontal {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(100vw);
  }
}

