.cardLayout {
    max-width: 1140px;
    margin: 0 auto;    
}

#about {
    background-color: var(--darker);
    border: 2px solid var(--surface);
    padding: 24px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    /* color: var(--leaf); */
    font-family: UbuntuLight;
}

#about .devPhoto {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.3s;
    width: 47%; 
    background-image: url('../../../assets/leaf.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    height: 400px;
}

#about ul li {
    padding: 16px;
    border: 2px solid var(--surface);
    border-radius: 8px;
    background-color: var(--base);
}

#about ul li:hover {
    border: 2px solid var(--leaf);    
    padding: 13px
}

#about ul li:hover img{
    width: 38px;    
}