@font-face {
  font-family: 'UbuntuLight';
  src: local('UbuntuLight'), url(./assets/fonts/Ubuntu/Ubuntu-Light.ttf) format('truetype')
}
@font-face {
  font-family: 'UbuntuLight';
  src: local('UbuntuRegular'), url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype')
}
@font-face {
  font-family: 'Ubuntu';
  src: local('Ubuntu'), url(./assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format('truetype')
}
@font-face {
  font-family: 'UbuntuBold';
  src: local('UbuntuBold'), url(./assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype')
}